body {
    background: rgb(41, 41, 41);
}

header h1 {
    color: darkturquoise;
    text-align: center;
    margin-top: 180px;
    font-size: 50px;
}

header p {
    color: darkturquoise;
    text-align: center;
    font-size: 25px;
}

.start-btn {
    background-color: gold;
    size: 30px;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 20px;
    margin-left: 630px;
}

.high-score {
    background-color: gold;
    size: 30px;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 20px;
    margin-left: 580px;
    margin-top: 10px;
}
